<section class="test">
    <div class="container">
        <div class="test-pre-title" id="pre-title">
            <div class="test-pre-title-results">Результат прохождения теста</div>
            <img src="/images/grey-arrow.png" alt="grey-arrow">
            <div class="test-pre-title-name" id="test-name">Тест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <div class="test-title-right-answers">
            Правильные ответы<span> к тесту</span>
        </div>
        <div class="test-username">
            Тест выполнил <span id="test-username-span">Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="test-questions-list">
            <!-- <div class="test-question">
                <div class="test-question-title" id="title">
                    <span>Вопрос 1:</span> Тут должен быть текст вопроса?
                </div>
                <div class="test-question-options" id="options">
                    <div class="test-question-answer">
                        <div class="test-question-answer-circle"></div>
                        <div class="test-question-answer-text">Вариант ответа 1</div>
                    </div>
                    <div class="test-question-answer wrong-answer">
                        <div class="test-question-answer-circle"></div>
                        <div class="test-question-answer-text">Вариант ответа 1</div>
                    </div>
                    <div class="test-question-answer ">
                        <div class="test-question-answer-circle"></div>
                        <div class="test-question-answer-text">Вариант ответа 1</div>
                    </div>
                    <div class="test-question-answer">
                        <div class="test-question-answer-circle"></div>
                        <div class="test-question-answer-text">Вариант ответа 1</div>
                    </div>
                </div>
            </div> -->
            
        </div>

        <div class="return-result">
            <a href="javascript:void(0)" id="check-result">Обратно к моему результату теста <img src="/images/mini-arrow.png" alt="mini-arrow"></a>
        </div>
    </div>
</section>
